<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>Site Office Bookings</title>
    <style>
        .welcome {
            font-size: 1.5vw;
            color: #ffffff;
            font-weight: 500;
        }
    </style>
</head>

<body>
    <header class="header">
        <a href="#" class = "logo">Site Office Bookings</a>
        
        <nav class="navbar">
            <a href="/#"><span>HOME</span></a>
            <a href="/booking"><span>BOOKING</span></a>
            <a href="/returns"><span>RETURNS</span></a>
            <a href="/transfer"><span>TRANSFER</span></a>
            <a href="/operator"><span>OPERATOR</span></a>
        </nav>
    </header>

    <div class="logo">
        <img src="/WeA-Logo.png" alt="WEA LOGO">
    </div>

    <div id="welcome" class="welcome">
        <h2>Welcome to Site Office Bookings </h2>
        <h3>Use the navigation bar above to navigate and perform you desired Task</h3>
    </div>

</body>
</html>