<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./main.css">
    <title>Site Office Bookings</title>
</head>

<body>
    <header class="header">
        <a href="#" class = "logo">OPERATORS</a>
        
        <nav class="navbar">
            <a href="/#"><span>HOME</span></a>
            <a href="/booking"><span>BOOKING</span></a>
            <a href="/returns"><span>RETURNS</span></a>
            <a href="/transfer"><span>TRANSFER</span></a>
            <a href="/operator"><span>OPERATOR</span></a>
        </nav>
        
    </header>
        
    <!-- <script src="./index.js"></script> -->
    
</body>
</html>